@font-face {
  font-family: 'AlanSans';
  src: url('/fonts/AlanSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --g: radial-gradient(#000 calc(71% - 1px), #0000 71%) no-repeat;
  --bg-g-start: #f5f7fa;
  --bg-g-end: #c3cfe2;
}

body {
  font-family: 'AlanSans', 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, var(--bg-g-start) 0%, var(--bg-g-end) 100%);
  max-height: 100vh;
}

h1,
h2,
h3,
body {
  padding: 0;
  margin: 0;
}
